@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
  .title {
    @apply text-2xl font-bold;
  }
  tr {
    @apply text-sm;
  }
}

img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.container {
  max-width: 940px;
}

body {
  background: #f2f2f2;
}
